@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply bg-black text-white;
}

.floor_card img { object-fit: cover; }


.custom-pagination {
  & .slick-dots {
    & li {
      & svg {
        opacity: 30%;
        transition: all 0.3s ease;
        &:hover,
        &:focus {
          opacity: 70%;
        }
      }
      &.slick-active {
        & svg {
          opacity: 100%;
        }
      }
    }
  }
}



#floors_mobile {

  & ul.accordion {
    list-style: none;
    padding: 0;

    & li {
      margin: 0.5em 0;

      & a {

        & svg {
          opacity: 30%;
          transition: all 0.3s ease;
        }

        &:hover {

          & svg {
            opacity: 70%;
          }
        }

        &.toggle {
          width: 100%;
          display: block;
          background: rgba(0, 0, 0, 0.78);
          color: #fefefe;
          padding: 0 0.75em;
          border-radius: 0.15em;
          transition: background 0.3s ease;
        }
        &.toggle.tgl_active {
          & svg {
            opacity: 100%;
          }
        }
      }
    }
    & .inner {
      padding-left: 1em;
      overflow: hidden;
      display: none;
    }
  }
}



ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}
