---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="overflow-x-hidden">
		<header class="container mt-10 mb-[45vw] sm:mb-[20vw] sm:mb-0">
			<div class="grid grid-cols-1 sm:grid-cols-2 grid-flow-col gap-4">
				<div class="flex flex-col text-left">
					<svg class="w-36 inline aspect-[661/308]">
						<use href="#serif_logo"></use>
					</svg>
					<p class="font-serif inline italic max-w-56 mt-4">A members club for LGBTQ+ industry leaders and creators</p>
				</div>
				<div class="text-center mt-4 text-right hidden sm:block">
					<div class="flex items-center">
						<div class="hidden sm:block flex-1 text-sans uppercase text-sm tracking-widest me-4">66 east 55th Street, NY</div>
						<div class="flex-initial"><a href="https://airtable.com/shrt4vMyx4Mv9cM90" target="_blank" rel="noopener nofollow" class="rounded-full px-6 py-4 bg-white border-2 border-white border-solid text-black text-serif uppercase font-bold hover:text-white hover:bg-black transition-colors duration-300 ">Apply to Join</a></div>
					</div>
				</div>
			</div>
		</header>

		<div class="w-custom-108vw max-w-custom-96.5625rem -ml-[4vw] 2xl:mx-auto">
			<svg class="w-custom-108vw max-w-custom-96.5625rem aspect-[661/308]">
				<use href="#serif_logo"></use>
			</svg>
			<p class="text-sans uppercase text-sm tracking-widest block sm:hidden ml-[8vw] -mt-2">66 east 55th Street, NY</p>
		</div>

		<div class="container text-center block sm:hidden mt-[20vw]">
			<div class="mt-8"><a href="https://airtable.com/shrt4vMyx4Mv9cM90" target="_blank" rel="noopener nofollow" class="rounded-full px-6 py-4 bg-white block w-full border-2 border-white border-solid text-black text-serif uppercase font-bold hover:text-white hover:bg-black transition-colors duration-300 ">Apply to Join</a></div>
		</div>


		<section class="container mt-48">
			<div class="flex flex-col sm:flex-row lg:flex-row gap-4">
				<div class="w-full md:w-30 lg:w-2/5">
					<h2 class="font-sans uppercase text-2xl sm:text-[2rem] font-bold">For Anyone</h2>
					<h3 class="font-serif font-light text-2xl sm:text-[2rem] italic mt-2">who wants more</h3>
				</div>

				<div class="w-full md:w-70 lg:w-3/5">
					<h4 class="font-serif text-[2rem] sm:text-5xl italic font-light leading-snug mb-10">Serif is a members club for LGBTQ+ and ally leaders from all industries: Fashion, Entertainment, Finance, Music, Tech, and beyond.</h4>
					<p class="font-serif sm:text-2xl italic font-light mb-6">As a member, you’ll have access to a curated community and a place to network, entertain, be entertained, find inspiration, and maybe even fall in love.</p>
					<p class="font-serif sm:text-2xl italic font-light mb-20">Ahead of opening, we invite you to become a member of our inaugural location on 66 east 55th Street.</p>
					<img src="/images/serif-map.webp" alt="Map of Serif's Location" loading="lazy" width="867" height="443" class="mb-32 hidden sm:block" />
					<img src="/images/serif-map.webp" alt="Map of Serif's Location" loading="lazy" width="867" height="443" class="aspect-[3/4] block sm:hidden object-cover mb-24" />
				</div>
			</div>

		</section>

		<section class="container mb-16">
			<h2 class="font-sans uppercase text-2xl sm:text-[2rem] font-bold">Find Yourself <span class="font-serif font-light italic lowercase">here</span></h2>
			<ul class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-x-4 text-2xl sm:text-3xl font-serif italic font-light mt-16">
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid border-t">Curated Community</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid sm:border-t">Theatre &amp; Screening Room</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid">Events, Programming &amp; Membership Services</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid">Fitness, Sauna &amp; Steam</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid">Restaurant, Bar &amp; Lounge</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid">Shower &amp; Locker Rooms</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid">Terrace &amp; Private Dining</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid">Library, Workspace &amp; Meeting Rooms</li>
			</ul>
		</section>



		<section id="elevator" class="hidden md:block">
			<div class="container pt-10">
				<h2 class="font-sans uppercase text-2xl sm:text-[2rem] font-bold">Welcome</h2>
				<h3 class="font-serif font-light text-2xl sm:text-[2rem] italic mt-2">To the World of serif</h3>
				<div class="grid grid-cols-12 mt-12">
					<!-- floors -->
					<div class="col-span-2">
						<div class="custom-pagination"></div>
					</div>
					<!-- floor_cards -->
					<div class="col-start-4 col-span-9">
						<div class="floor_cards_container">
							<div class="floor_card floor_card_1">
								<div class="flex bg-black">
									<img src="/images/1st-floor.webp" width="564" height="870" loading="lazy" alt="" class="flex-initial w-1/2" />
									<div class="flex-initial w-1/2 ps-[8%]">
										<h3 class="font-serif font-light italic text-4xl mb-12">Arrival. Community. Programming.</h3>
										<p class="font-serif font-light italic text-2xl mb-4">From speaker series about culture, business, and leadership to live music and storytelling, Serif fosters community through groundbreaking programming.</p>
										<p class="font-serif font-light italic text-2xl">Join us for bespoke networking events where organic connections with other members spark new beginnings.</p>
									</div>
								</div>
							</div>

							<div class="floor_card bg-black floor_card_2">
								<div class="flex bg-black">
									<img src="/images/2nd-floor.webp" width="564" height="870" loading="lazy" alt="" class="flex-initial w-1/2" />
									<div class="flex-initial w-1/2 ps-[8%]">
										<h3 class="font-serif font-light italic text-4xl mb-12">Dining &amp; Social Experiences</h3>
										<p class="font-serif font-light italic text-2xl mb-4">With multiple indoor and outdoor dining spaces, lounges, and bars, Serif can be your place to entertain or be entertained.</p>
										<p class="font-serif font-light italic text-2xl mb-4">From power luncheons with curated leaders to dinner and a show by named talent, Serif is consistently programmed for you to meet other members.</p>
										<p class="font-serif font-light italic text-2xl">Curated by Noho Hospitality, Serif is your next haunt. Stop by with friends, reserve a table or work with our concierge to plan your next big event.</p>
									</div>
								</div>
							</div>

							<!-- third floor -->
							<div class="floor_card bg-black floor_card_3">
								<div class="flex bg-black">
									<img src="/images/3rd-floor.webp" width="564" height="870" loading="lazy" alt="" class="flex-initial w-1/2" />
									<div class="flex-initial w-1/2 ps-[8%]">
										<h3 class="font-serif font-light italic text-4xl mb-12">Steam. Sauna. Locker Rooms.</h3>
										<p class="font-serif font-light italic text-2xl">Your membership includes access to our full-floor steam, sauna, shower, locker, and beauty rooms.</p>
									</div>
								</div>
							</div>

							<!-- fourth floor -->
							<div class="floor_card bg-black floor_card_4">
								<div class="flex bg-black">
									<img src="/images/4th-floor.webp" width="564" height="870" loading="lazy" alt="" class="flex-initial w-1/2" />
									<div class="flex-initial w-1/2 ps-[8%]">
										<h3 class="font-serif font-light italic text-4xl mb-12">Fitness. Wellness. Work.</h3>
										<p class="font-serif font-light italic text-2xl mb-4">Available work spaces, bookable conference rooms, and quiet phone booths make Serif the perfect place for you to work away from the office.</p>
										<p class="font-serif font-light italic text-2xl"> A boutique gym and class studio constantly activated by your favorite brands give you another way to connect with Serif members and accomplish your personal goals.</p>
									</div>
								</div>
							</div>

							<!-- penthouse -->
							<div class="floor_card bg-black floor_card_5">
								<div class="flex bg-black">
									<img src="/images/penthouse.webp" width="564" height="870" loading="lazy" alt="" class="flex-initial w-1/2" />
									<div class="flex-initial w-1/2 ps-[8%]">
										<h3 class="font-serif font-light italic text-4xl mb-12">Founding Members only</h3>
										<p class="font-serif font-light italic text-2xl mb-4">Tucked away on the secluded sixth floor, only Founding Members have private elevator access to the Penthouse — a place for Founders and their guests to entertain and be entertained.</p>
										<p class="font-serif font-light italic text-2xl"> The Penthouse is also home to Founder-Only programming and events.</p>
									</div>
								</div>
							</div>
						</div><!-- .floor_cards_container -->
					</div><!-- col-start-4 col-span-9 -->
				</div><!-- grid grid-cols-12 -->
			</div>
		</section>



		<section id="floors_mobile" class="block md:hidden">
			<div class="container pt-10">
				<h2 class="font-sans uppercase text-2xl sm:text-[2rem] font-bold">Welcome</h2>
				<h3 class="font-serif font-light text-2xl sm:text-[2rem] italic mt-2">To the World of serif</h3>
				<ul class="accordion mt-12">
					<li>
						<a class="toggle tgl_active" href="">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 109 55" class="max-h-14 mb-6">
								<title>First Floor</title>
								<path fill="#fff" d="M37.96 54H26.944l4.752-7.56 10.152-37.8-7.344-3.24L47.896.792l-12.96 48.384L37.96 54ZM57.848 17.704l-2.04 1.536 1.08-4.008 1.248 1.248c1.272 1.272 2.688 1.968 4.248 1.968 2.424 0 4.104-1.608 4.104-3.912 0-1.56-.768-2.592-2.448-3.48l-1.944-1.032c-1.848-.984-2.832-2.304-2.832-4.152 0-2.664 2.04-4.608 4.92-4.608 1.44 0 2.808.528 3.936 1.464l2.016-1.464-1.128 4.224-.816-1.104c-1.08-1.464-2.52-2.28-4.104-2.28-2.088 0-3.432 1.296-3.432 3.456 0 1.464.624 2.472 2.112 3.264l1.944 1.032c2.28 1.224 3.192 2.376 3.192 4.176 0 2.952-2.472 5.256-5.568 5.256-1.56 0-3.216-.6-4.488-1.584ZM76.602 19h-3.696l1.584-2.52 3.768-14.04h-3.12l-2.856 2.4.864-3.24h12l-.864 3.24-1.512-2.4h-3.168l-4.008 14.952L76.602 19ZM64.88 42.64v2.048h-5.088v2.624h4.8v2.016h-4.8V54h-2.688V42.64h7.776ZM73.62 54h-7.313V42.64h2.688v9.168h4.624V54Zm5.773.272c-3.408 0-5.6-2.304-5.6-5.952 0-3.664 2.192-5.952 5.6-5.952 3.408 0 5.6 2.288 5.6 5.952s-2.192 5.952-5.6 5.952Zm0-2.112c1.776 0 2.832-1.44 2.832-3.84s-1.056-3.84-2.832-3.84c-1.776 0-2.832 1.44-2.832 3.84 0 2.384 1.056 3.84 2.832 3.84Zm12.328 2.112c-3.408 0-5.6-2.304-5.6-5.952 0-3.664 2.192-5.952 5.6-5.952 3.408 0 5.6 2.288 5.6 5.952s-2.192 5.952-5.6 5.952Zm0-2.112c1.776 0 2.832-1.44 2.832-3.84s-1.056-3.84-2.832-3.84c-1.776 0-2.832 1.44-2.832 3.84 0 2.384 1.056 3.84 2.832 3.84ZM108.356 54h-2.912l-2.176-4.352h-1.648V54h-2.688V42.64h4.992c2.88 0 4.144 1.408 4.144 3.488 0 1.424-.752 2.624-2.208 3.12L108.356 54Zm-4.976-9.456h-1.76v3.248h1.76c1.296 0 1.872-.64 1.872-1.664 0-.992-.56-1.584-1.872-1.584ZM56 23.08h26.866v1.44H56v-1.44ZM0 1h5v54H0z"/>
							</svg>
						</a>
						<div class="inner mb-6" style="display:block;">
							<h3 class="font-serif font-light italic text-3xl mt-4 mb-4">Arrival. Community. Programming.</h3>
							<p class="font-serif font-light italic mb-4">From speaker series about culture, business, and leadership to live music and storytelling, Serif fosters community through groundbreaking programming.</p>
							<p class="font-serif font-light italic">Join us for bespoke networking events where organic connections with other members spark new beginnings.</p>
						</div>
					</li>
					<li>
						<a class="toggle" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 129 54" class="max-h-14 mb-6">
								<title>Second Floor</title>
								<path fill="#fff" d="m57.504 49.104-1.08 4.104H21l21.024-14.616C57.072 28.152 62.76 21.384 62.76 13.68c0-6.912-4.68-11.16-12.24-11.16-7.992 0-13.176 4.752-13.536 12.24-.144 2.664-.864 3.888-2.376 3.888-1.44 0-2.088-1.08-2.088-3.528C32.52 6.552 40.44 0 51.24 0c9.648 0 15.768 5.184 15.768 13.68 0 8.784-6.408 16.056-24.336 27.936l-11.376 7.488h26.208ZM84.776 42.272v2.048h-5.088v2.624h4.8v2.016h-4.8v4.672H77v-11.36h7.776Zm8.74 11.36h-7.313v-11.36h2.688v9.168h4.624v2.192Zm5.773.272c-3.408 0-5.6-2.304-5.6-5.952 0-3.664 2.192-5.952 5.6-5.952 3.408 0 5.6 2.288 5.6 5.952s-2.192 5.952-5.6 5.952Zm0-2.112c1.776 0 2.832-1.44 2.832-3.84s-1.056-3.84-2.832-3.84c-1.776 0-2.832 1.44-2.832 3.84 0 2.384 1.056 3.84 2.832 3.84Zm12.328 2.112c-3.408 0-5.6-2.304-5.6-5.952 0-3.664 2.192-5.952 5.6-5.952 3.408 0 5.6 2.288 5.6 5.952s-2.192 5.952-5.6 5.952Zm0-2.112c1.776 0 2.832-1.44 2.832-3.84s-1.056-3.84-2.832-3.84c-1.776 0-2.832 1.44-2.832 3.84 0 2.384 1.056 3.84 2.832 3.84Zm16.635 1.84h-2.912l-2.176-4.352h-1.648v4.352h-2.688v-11.36h4.992c2.88 0 4.144 1.408 4.144 3.488 0 1.424-.752 2.624-2.208 3.12l2.496 4.752Zm-4.976-9.456h-1.76v3.248h1.76c1.296 0 1.872-.64 1.872-1.664 0-.992-.56-1.584-1.872-1.584ZM5 0H0v54h5V0ZM79.24 18.4H76l1.584-2.52 3.552-13.248L80.128 1h2.256L88 15.232l3.408-12.624L90.4 1h3.216l-1.584 2.52-4.056 15.168-6.12-15.408-3.624 13.512L79.24 18.4Zm18.238 0h-5.376l1.584-2.52 3.552-13.248L96.23 1h4.392c4.56 0 7.104 2.448 7.104 6.744 0 5.808-4.68 10.656-10.248 10.656Zm1.32-16.56-4.2 15.72h2.88c4.872 0 8.832-4.368 8.832-9.816 0-3.84-1.968-5.904-5.688-5.904h-1.824ZM76.048 22.48h31.798v1.44H76.048v-1.44Z"/>
							</svg>
						</a>
						<div class="inner mb-8">
							<h3 class="font-serif font-light italic text-3xl mt-4 mb-4">Dining &amp; Social Experiences</h3>
							<p class="font-serif font-light italic mb-4">With multiple indoor and outdoor dining spaces, lounges, and bars, Serif can be your place to entertain or be entertained.</p>
							<p class="font-serif font-light italic mb-4">From power luncheons with curated leaders to dinner and a show by named talent, Serif is consistently programmed for you to meet other members.</p>
							<p class="font-serif font-light italic">Curated by Noho Hospitality, Serif is your next haunt. Stop by with friends, reserve a table or work with our concierge to plan your next big event.</p>
						</div>
					</li>

					<!-- third floor -->
					<li>
						<a class="toggle" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 129 55" class="max-h-14 mb-6">
								<title>Third Floor</title>
								<path fill="#fff" d="M5 1H0v54h5V1ZM42.624 27.432l.648-2.52c12.456 0 19.8-4.608 19.8-12.456 0-6.264-4.536-9.864-12.384-9.864-8.208 0-12.744 3.816-12.744 10.728 0 2.592-.648 3.672-2.16 3.672-1.584 0-2.304-1.152-2.304-3.744C33.48 5.256 40.32 0 50.832 0 60.84 0 67.176 4.752 67.176 12.312c0 7.344-6.12 12.384-16.776 13.824 8.208 1.368 12.816 5.976 12.816 12.744 0 8.784-7.632 15.192-17.784 15.192-10.44 0-18.432-6.696-18.432-15.12 0-2.664.792-4.032 2.376-4.032 1.44 0 2.088 1.224 2.088 3.96 0 7.704 5.184 12.672 13.32 12.672 8.352 0 14.184-5.328 14.184-12.888 0-7.272-5.472-11.016-16.344-11.232ZM84.776 42.272v2.048h-5.088v2.624h4.8v2.016h-4.8v4.672H77v-11.36h7.776Zm8.74 11.36h-7.313v-11.36h2.688v9.168h4.624v2.192Zm5.773.272c-3.408 0-5.6-2.304-5.6-5.952 0-3.664 2.192-5.952 5.6-5.952 3.408 0 5.6 2.288 5.6 5.952s-2.192 5.952-5.6 5.952Zm0-2.112c1.776 0 2.832-1.44 2.832-3.84s-1.056-3.84-2.832-3.84c-1.776 0-2.832 1.44-2.832 3.84 0 2.384 1.056 3.84 2.832 3.84Zm12.328 2.112c-3.408 0-5.6-2.304-5.6-5.952 0-3.664 2.192-5.952 5.6-5.952 3.408 0 5.6 2.288 5.6 5.952s-2.192 5.952-5.6 5.952Zm0-2.112c1.776 0 2.832-1.44 2.832-3.84s-1.056-3.84-2.832-3.84c-1.776 0-2.832 1.44-2.832 3.84 0 2.384 1.056 3.84 2.832 3.84Zm16.635 1.84h-2.912l-2.176-4.352h-1.648v4.352h-2.688v-11.36h4.992c2.88 0 4.144 1.408 4.144 3.488 0 1.424-.752 2.624-2.208 3.12l2.496 4.752Zm-4.976-9.456h-1.76v3.248h1.76c1.296 0 1.872-.64 1.872-1.664 0-.992-.56-1.584-1.872-1.584ZM79.696 18.4H76l1.584-2.52 3.552-13.248L80.128 1h4.8c3.264 0 5.256 1.392 5.256 3.72 0 2.832-2.952 4.824-7.584 5.304 2.232.552 3.264 2.208 3.672 5.496.216 1.824.552 2.28 1.608 2.28-.096.576-.528.888-1.2.888-1.152 0-1.632-.84-1.824-3.168-.336-3.888-1.464-5.232-4.416-5.232l-1.752 6.504 1.008 1.608Zm3-16.56-2.064 7.656c4.8-.048 8.136-2.016 8.136-4.824 0-1.824-1.44-2.832-4.032-2.832h-2.04Zm12.32 16.56h-5.375l1.584-2.52 3.552-13.248L93.769 1h4.392c4.56 0 7.104 2.448 7.104 6.744 0 5.808-4.68 10.656-10.248 10.656Zm1.32-16.56-4.2 15.72h2.88c4.873 0 8.833-4.368 8.833-9.816 0-3.84-1.968-5.904-5.688-5.904h-1.824ZM76.048 22.48h29.337v1.44H76.048v-1.44Z"/>
							</svg>
						</a>
						<div class="inner mb-8">
							<h3 class="font-serif font-light italic text-3xl mt-4 mb-4">Steam. Sauna. Locker Rooms.</h3>
							<p class="font-serif font-light italic">Your membership includes access to our full-floor steam, sauna, shower, locker, and beauty rooms.</p>
						</div>
					</li>

					<!-- 4th floor -->
					<li>
						<a class="toggle" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 129 54" class="max-h-14 mb-6">
								<title>Fourth Floor</title>
								<path fill="#fff" d="M5 0H0v54h5V0ZM83.032 17.4h-3.696l1.584-2.52L84.688.84h-3.12l-2.856 2.4.864-3.24h12l-.864 3.24L89.2.84h-3.168l-4.008 14.952 1.008 1.608Zm9.881 0h-3.672l1.584-2.52 3.552-13.248L93.369 0h3.672l-1.584 2.52-1.488 5.52h8.4l1.728-6.408L103.089 0h3.672l-1.584 2.52-3.552 13.272 1.008 1.608h-3.672l1.584-2.52 1.56-5.832h-8.4l-1.8 6.744 1.008 1.608ZM76 21.48h29.513v1.44H76v-1.44ZM84.776 41.272v2.048h-5.088v2.624h4.8v2.016h-4.8v4.672H77v-11.36h7.776Zm8.74 11.36h-7.313v-11.36h2.688v9.168h4.624v2.192Zm5.773.272c-3.408 0-5.6-2.304-5.6-5.952 0-3.664 2.192-5.952 5.6-5.952 3.408 0 5.6 2.288 5.6 5.952s-2.192 5.952-5.6 5.952Zm0-2.112c1.776 0 2.832-1.44 2.832-3.84s-1.056-3.84-2.832-3.84c-1.776 0-2.832 1.44-2.832 3.84 0 2.384 1.056 3.84 2.832 3.84Zm12.328 2.112c-3.408 0-5.6-2.304-5.6-5.952 0-3.664 2.192-5.952 5.6-5.952 3.408 0 5.6 2.288 5.6 5.952s-2.192 5.952-5.6 5.952Zm0-2.112c1.776 0 2.832-1.44 2.832-3.84s-1.056-3.84-2.832-3.84c-1.776 0-2.832 1.44-2.832 3.84 0 2.384 1.056 3.84 2.832 3.84Zm16.635 1.84h-2.912l-2.176-4.352h-1.648v4.352h-2.688v-11.36h4.992c2.88 0 4.144 1.408 4.144 3.488 0 1.424-.752 2.624-2.208 3.12l2.496 4.752Zm-4.976-9.456h-1.76v3.248h1.76c1.296 0 1.872-.64 1.872-1.664 0-.992-.56-1.584-1.872-1.584ZM57.696 52.2H46.68l4.752-7.56 1.296-4.824H24L63.312 0h4.032l-9.936 37.296h9.144l-.648 2.52h-9.216l-2.016 7.56 3.024 4.824ZM62.16 4.752 30.048 37.296h23.328L62.16 4.752Z"/>
							</svg>
						</a>
						<div class="inner mb-8">
							<h3 class="font-serif font-light italic text-3xl mt-4 mb-4">Fitness. Wellness. Work.</h3>
							<p class="font-serif font-light italic mb-4">Available work spaces, bookable conference rooms, and quiet phone booths make Serif the perfect place for you to work away from the office.</p>
							<p class="font-serif font-light italic"> A boutique gym and class studio constantly activated by your favorite brands give you another way to connect with Serif members and accomplish your personal goals.</p>
						</div>
					</li>

					<!-- PH -->
					<li>
						<a class="toggle" href="#">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 119 55" class="max-h-14 mb-6"><title>Penthouse</title><path fill="#fff" d="M5 0H0v54h5V0ZM35.088 54.2H24l4.752-7.56L39.408 6.896 36.384 2h11.448c13.824 0 20.736 4.608 20.736 12.96 0 11.88-13.824 19.44-32.04 17.64l-4.464 16.776 3.024 4.824ZM46.32 4.448h-2.232l-6.912 25.776c15.768 1.44 27.144-4.968 27.144-15.48 0-7.272-5.328-10.296-18-10.296ZM76.586 54.2H65.57l4.752-7.56L80.978 6.896 77.954 2H88.97l-4.752 7.56-4.464 16.56h25.2l5.184-19.224L107.114 2h11.016l-4.752 7.56-10.656 39.816 3.024 4.824H94.73l4.752-7.56 4.68-17.496h-25.2l-5.4 20.232 3.024 4.824Z"/></svg>
						</a>
						<div class="inner mb-8">
							<h3 class="font-serif font-light italic text-3xl mt-4 mb-4">Founding Members only</h3>
							<p class="font-serif font-light italic mb-4">Tucked away on the secluded sixth floor, only Founding Members have private elevator access to the Penthouse — a place for Founders and their guests to entertain and be entertained.</p>
							<p class="font-serif font-light italic"> The Penthouse is also home to Founder-Only programming and events.</p>
						</div>
					</li>
				</ul>
			</div>
		</section>




		<section class="container mt-24 mb-36">
			<h2 class="font-sans uppercase text-2xl sm:text-[2rem] font-bold">Thoughtfully Managed &amp; Designed by</h2>
			<h3 class="font-serif font-light text-2xl sm:text-[2rem] italic mt-2">Industry Leaders</h3>
			<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-14">
				<img src="/images/noho-hospitality.webp" alt="Noho Hospitality" loading="lazy" class="rounded-full saturate-0 w-9/12 sm:w-full" width="640" height="640" />
				<div>
					<p class="font-sans uppercase font-bold">F&amp;B Curated by</p>
					<p class="font-serif font-light text-2xl sm:text-[2rem] italic mb-8 mt-2">Noho Hospitality</p>
					<p class="font-sans font-light">With more than 75 collective years of experience in the hospitality industry between them, Carmellini, Pickard and Ostrom have produced some of its most-talked-about establishments: Cafe Carmellini, Locanda Verde, The Public, Joe’s Pub, Bar Primi, Lure Fish Bar, Lever House.</p>
				</div>
				<img src="/images/rafael-de-cardenas.webp" alt="Rafael de Cardenas" loading="lazy" class="rounded-full saturate-0 w-9/12 sm:w-full" width="640" height="640" />
				<div>
					<p class="font-sans uppercase font-bold">Interior Design by</p>
					<p class="font-serif font-light text-2xl sm:text-[2rem] italic mb-8 mt-2">Rafael de Cardenas</p>
					<p class="font-sans font-light">AD100 Designer known for his bold, geometric, and luxurious designs. His work spans residential projects, commercial projects, art advisory, furniture design, and brand development for clients like Cartier, Nike, Delfina Delettrez, Asia de Cuba, Kenzo, and more.</p>
				</div>
			</div>
		</section>

		<section class="bg-[#1A1A1A] py-20">
			<div class="container">
				<div class="grid grid-cols-1 text-center items-center">

						<p class="font-sans uppercase">Inviting You To</p>
						<svg class="w-60 aspect-[661/308] mx-auto mt-4 mb-4">
							<use href="#serif_logo"></use>
						</svg>
						<p class="text-center font-serif italic font-light text-xl">A members club for LGBTQ+ <br>industry leaders and creators</p>
						<div class="text-center mt-12">
							<a href="https://airtable.com/shrt4vMyx4Mv9cM90" target="_blank" rel="noopener nofollow" class="rounded-full px-6 py-4 bg-white border-2 border-white border-solid text-black text-serif uppercase font-bold hover:text-white hover:bg-black transition-colors duration-300 ">Apply to Join</a>
						</div>



				</div>
			</div>
		</section>

		<section class="max-w-[90rem] grid grid-cols-3 sm:grid-cols-4 md:grid-cols-8 mx-auto mb-32">
			<img src="/images/icon-1.webp" alt="" width="360" height="540" loading="lazy" />
			<img src="/images/icon-2.webp" alt="" width="360" height="540" loading="lazy" />
			<img src="/images/icon-3.webp" alt="" width="360" height="540" loading="lazy" />
			<img src="/images/icon-4.webp" alt="" width="360" height="540" loading="lazy" />
			<img src="/images/icon-5.webp" alt="" width="360" height="540" loading="lazy" />
			<img src="/images/icon-6.webp" alt="" width="360" height="540" loading="lazy" />
			<img src="/images/icon-7.webp" alt="" width="360" height="540" loading="lazy" class="hidden md:block" />
			<img src="/images/icon-8.webp" alt="" width="360" height="540" loading="lazy" class="hidden md:block" />
			<img src="/images/icon-9.webp" alt="" width="360" height="540" loading="lazy" class="hidden md:block" />
			<img src="/images/icon-10.webp" alt="" width="360" height="540" loading="lazy" class="hidden md:block" />
			<img src="/images/icon-11.webp" alt="" width="360" height="540" loading="lazy" class="hidden md:block" />
			<img src="/images/icon-12.webp" alt="" width="360" height="540" loading="lazy" class="hidden md:block" />
			<img src="/images/icon-13.webp" alt="" width="360" height="540" loading="lazy" class="hidden md:block" />
			<img src="/images/icon-14.webp" alt="" width="360" height="540" loading="lazy" class="hidden md:block" />
			<img src="/images/icon-15.webp" alt="" width="360" height="540" loading="lazy" class="hidden md:block" />
			<img src="/images/icon-16.webp" alt="" width="360" height="540" loading="lazy" class="hidden md:block" />
		</section>

		<footer class="container overflow-y-hidden overflow-x-auto">
			<p class="text-xl sm:text-2xl font-serif italic font-light mb-2"><a href="mailto:membership@serif.space">membership@serif.space</a></p>
			<p class="text-xl sm:text-2xl font-serif italic font-light"><a href="#privacy-policy" rel="modal:open">Privacy Policy</a></p>

			<div class="w-custom-108vw max-w-custom-96.5625rem -ml-[4vw] 2xl:mx-auto -mb-[20%] mt-4 sm:-mt-20">
				<svg class="w-custom-108vw max-w-custom-96.5625rem aspect-[661/308]">
					<use href="#serif_logo"></use>
				</svg>
			</div>
		</footer>

	</main>

</Layout>
