---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<main class="overflow-x-hidden">
		<header class="container mt-10 mb-[42vw] sm:mb-[16vw]">
			<div class="grid grid-cols-1 sm:grid-cols-2 grid-flow-col gap-4">
				<div class="flex flex-col text-left">
					<svg class="w-36 inline aspect-[661/308]">
						<use href="#serif_logo"></use>
					</svg>
					<p class="font-serif inline italic max-w-56 mt-4 text-sm">A members club for LGBTQ+ industry leaders and creators</p>
				</div>
				<div class="text-center mt-4 text-right hidden sm:block">
					<div class="flex items-center">
						<div class="hidden sm:block flex-1 text-sans uppercase text-sm tracking-widest me-4">East 55<sup>th</sup> St. &amp; Park Avenue, NYC</div>
						<div class="flex-initial"><a href="#apply" class="rounded-full px-6 py-4 bg-white border-2 border-white border-solid text-black text-serif uppercase font-bold hover:text-white hover:bg-black transition-colors duration-300 ">Apply to Join</a></div>
					</div>
				</div>
			</div>
		</header>

		<div class="w-custom-108vw max-w-custom-96.5625rem -ml-[4vw] 2xl:mx-auto">
			<svg class="w-custom-108vw max-w-custom-96.5625rem aspect-[661/308]">
				<use href="#serif_logo"></use>
			</svg>
			<p class="text-sans uppercase text-xs tracking-widest block sm:hidden ml-[8vw] -mt-2">East 55<sup>th</sup> St. &amp; Park Avenue, NYC</p>
		</div>

		<div class="container text-center block sm:hidden mt-[20vw]">
			<div class="mt-8"><a href="https://airtable.com/shrt4vMyx4Mv9cM90" target="_blank" rel="noopener nofollow" class="rounded-full px-6 py-4 bg-white block w-full border-2 border-white border-solid text-black text-serif uppercase font-bold hover:text-white hover:bg-black transition-colors duration-300 ">Apply to Join</a></div>
		</div>


		<section class="container mt-48">
			<div class="flex flex-col sm:flex-row lg:flex-row gap-4">
				<div class="w-full md:w-30 lg:w-2/5">
					<h2 class="font-sans uppercase text-2xl sm:text-[2rem] font-bold">Welcome</h2>
					<h3 class="font-serif font-light text-2xl sm:text-[2rem] italic mt-2">to Serif</h3>
				</div>

				<div class="w-full md:w-70 lg:w-3/5">
					<h4 class="font-serif text-[2rem] sm:text-5xl italic font-light leading-snug mb-10">Congratulations! We're excited to welcome you to Serif.</h4>
					<p class="font-serif sm:text-2xl italic font-light mb-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque lacus. Quisque accumsan nisi odio, non laoreet massa dignissim quis.</p>
				</div>
			</div>

		</section>

		<section class="container mb-16">
			<h2 class="font-sans uppercase text-2xl sm:text-[2rem] font-bold">Benefits of</h2>
			<h3 class="font-serif font-light text-[2rem] italic">Membership</h3>
			<ul class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-2 gap-x-4 text-2xl sm:text-3xl font-serif italic font-light mt-12">
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid border-t">Exclusive restaurant, bar, lounge, fitness, and workspace by Rafael De Cardenas</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid sm:border-t">Curated world-class culinary experience by Noho Hospitality</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid">Access to members-only newsletter and digital content</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid">Private dining and meeting spaces available</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid">Guest privileges (up to three guests without notice)</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid">On-site Membership Services Team</li>
				<li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid">Membership House Accounts</li>
				<!-- <li class="flex flex-col justify-between py-4 sm:py-5 border-b border-white border-solid"></li> -->
			</ul>
		</section>



		<section id="apply" class="bg-[#1A1A1A] py-20">
			<div class="container">
				<h2 class="font-sans uppercase text-[2rem] font-bold">Individual</h2>
				<h3 class="font-serif font-light text-[2rem] italic">Membership</h3>
				<div class="w-20 border-t border-white border-solid mt-4 mb-6"></div>
				<p class="text-lg font-serif italic font-light">$3,600 annual dues</p>
				<p class="text-lg font-serif italic font-light">$500 initiation</p>
				<div class="grid grid-cols-1 sm:grid-cols-5 gap-4">
					<div class="col-span-1 sm:col-span-2">
						<img src="/images/1st-floor.webp" width="564" height="870" loading="lazy" alt="" class="flex-initial mt-6 aspect-square object-cover" />
					</div>
					<div class="col-span-1 sm:col-span-3">
						<div class="ms-0 sm:ms-6">
							<h3 class="font-serif font-light text-2xl italic">Step 1: Personal Information</h3>
							<div class="font-sans font-light mt-4">Complete the form below, then continue to our Stripe for your secure payment checkout.</div>
							<div class="font-sans font-light text-sm opacity-60 mt-2 italic -mb-2">* Required Field</div>
						</div>
						<script type="text/javascript" src="https://serif.formstack.com/forms/js.php/serif_space_membership?no_style_strict=1"></script>
					</div>
				</div>
			</div>
		</section>

		<section class="max-w-[90rem] grid grid-cols-3 sm:grid-cols-4 md:grid-cols-8 mx-auto mb-32">
			<img src="/images/icon-1.webp" alt="" width="360" height="540" loading="lazy" />
			<img src="/images/icon-2.webp" alt="" width="360" height="540" loading="lazy" />
			<img src="/images/icon-3.webp" alt="" width="360" height="540" loading="lazy" />
			<img src="/images/icon-4.webp" alt="" width="360" height="540" loading="lazy" />
			<img src="/images/icon-5.webp" alt="" width="360" height="540" loading="lazy" />
			<img src="/images/icon-6.webp" alt="" width="360" height="540" loading="lazy" />

			<img src="/images/icon-7.webp" alt="" width="360" height="540" loading="lazy" class="hidden sm:block" />
			<img src="/images/icon-8.webp" alt="" width="360" height="540" loading="lazy" class="hidden sm:block" />
			<img src="/images/icon-9.webp" alt="" width="360" height="540" loading="lazy" class="hidden sm:block" />
			<img src="/images/icon-10.webp" alt="" width="360" height="540" loading="lazy" class="hidden sm:block" />
			<img src="/images/icon-11.webp" alt="" width="360" height="540" loading="lazy" class="hidden sm:block" />
			<img src="/images/icon-12.webp" alt="" width="360" height="540" loading="lazy" class="hidden sm:block" />
			<img src="/images/icon-13.webp" alt="" width="360" height="540" loading="lazy" class="hidden sm:block" />
			<img src="/images/icon-14.webp" alt="" width="360" height="540" loading="lazy" class="hidden sm:block" />
			<img src="/images/icon-15.webp" alt="" width="360" height="540" loading="lazy" class="hidden sm:block" />
			<img src="/images/icon-16.webp" alt="" width="360" height="540" loading="lazy" class="hidden sm:block" />
		</section>


		<footer class="container overflow-y-hidden overflow-x-auto">
			<p class="text-xl sm:text-2xl font-serif italic font-light mb-2"><a href="mailto:membership@serif.space">membership@serif.space</a></p>
			<p class="text-xl sm:text-2xl font-serif italic font-light"><a href="#privacy-policy" rel="modal:open">Privacy Policy</a></p>

			<div class="w-custom-108vw max-w-custom-96.5625rem -ml-[4vw] 2xl:mx-auto -mb-[20%] mt-4 sm:-mt-20">
				<svg class="w-custom-108vw max-w-custom-96.5625rem aspect-[661/308]">
					<use href="#serif_logo"></use>
				</svg>
			</div>
		</footer>

	</main>

</Layout>
